html {
  font-size: 62.5%; }

html,
body {
  height: 100%; }

body::-webkit-scrollbar {
  width: 2rem; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px black; }

body::-webkit-scrollbar-thumb {
  background: linear-gradient(#ef6c00, #ffbb00); }

p {
  font-size: 1.6rem;
  line-height: 1.4; }

h1 {
  font-size: 4.2rem; }
  @media small-and-down {
    h1 {
      font-size: 2rem; } }

h3 h4 {
  line-height: 1.4; }

h4 {
  line-height: 1.5; }

body {
  color: #444;
  background: #f6f6f6;
  font-family: 'Exo 2', sans-serif; }
  body .btn,
  body .btn-small {
    text-transform: none; }
  body .btn-mobile {
    position: fixed;
    right: 5rem;
    top: 3rem; }

#gif_animata {
  width: 70%;
  margin-bottom: 4vh; }

section {
  margin: 0; }

.site-wrapper {
  display: flex; }

.fixed-panel {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  flex: 0 0 20%;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.87); }
  @media only screen and (max-width: 992px) {
    .fixed-panel {
      display: none; } }
  .fixed-panel__nav {
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    top: 15%;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    text-align: center; }
    .fixed-panel__nav .logo {
      position: fixed;
      top: 10vh; }
    .fixed-panel__nav .icons {
      position: fixed;
      bottom: 9rem; }
      .fixed-panel__nav .icons a {
        color: #fff;
        font-size: 2rem; }
        .fixed-panel__nav .icons a:not(last-child) {
          margin-right: 1rem; }
    .fixed-panel__nav .nav-item {
      font-size: 2rem;
      width: 100%;
      position: relative; }
      .fixed-panel__nav .nav-item .active {
        border-bottom: 3px solid #ef6c00;
        transform: scale(1.1);
        transition: .2s ease-in; }
      .fixed-panel__nav .nav-item a {
        top: 0;
        left: 0;
        color: #fff;
        transition: .2s ease-out; }
        .fixed-panel__nav .nav-item a:hover {
          transform: scale(1.3); }

.content {
  flex: 0 0 80%;
  height: auto; }
  @media only screen and (max-width: 992px) {
    .content {
      flex: 1 1; } }
  .content .about {
    height: 100vh;
    background: url("/img/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 600px) {
      .content .about {
        background-position: center center; } }
    .content .about__description {
      text-align: center;
      margin-top: -15vh; }
      .content .about__description a {
        margin-top: 2.5rem; }
    .content .about .purpose {
      margin-top: 10vh;
      font-size: 1.4rem; }
  .content .company {
    position: relative;
    height: auto;
    overflow: hidden; }
    .content .company__wrapper {
      display: flex;
      flex-flow: row;
      overflow: hidden;
      align-items: center; }
    .content .company .description {
      display: flex;
      flex-flow: column nowrap;
      flex: 0 0 50%; }
      .content .company .description h2 {
        margin-bottom: 0; }
      .content .company .description li {
        font-size: 1.6rem; }
        .content .company .description li span {
          font-weight: 500;
          font-size: 1.8rem; }
      .content .company .description li {
        margin-bottom: 1rem; }
    .content .company .school-background,
    .content .company .work-background {
      height: 50vh;
      flex-basis: 50%;
      position: relative; }
      .content .company .school-background::after,
      .content .company .work-background::after {
        content: "";
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh; }

.project {
  padding: 8rem 0; }
  .project__wrapper {
    display: flex; }

.input-field > label {
  color: #9e9e9e;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.6rem;
  cursor: text;
  transition: transform .2s ease-out, color .2s ease-out;
  transform-origin: 0% 100%;
  text-align: initial;
  transform: translateY(12px); }

input,
textarea {
  font-size: 1.4rem;
  height: 4rem !important; }

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%; } }

@media only screen and (min-width: 601px) {
  html {
    font-size: 62.5%; } }

@media only screen and (max-width: 992px) {
  html {
    font-size: 52%; } }

@media only screen and (min-width: 1201px) {
  html {
    font-size: 65%; } }

.mtzero {
  margin-top: 0 !important; }

.mt1 {
  margin-top: 1rem; }

.mt2 {
  margin-top: 2rem !important; }

.mt3 {
  margin-top: 3rem; }

.mt4 {
  margin-top: 4rem; }

.mt5 {
  margin-top: 5rem; }

.mbzero {
  margin-bottom: 0 !important; }

.mb2 {
  margin-bottom: 4rem; }

.mr2 {
  margin-right: 4rem; }

.ml4 {
  margin-left: 6rem; }

.pl2 {
  padding-left: 2rem; }

.pl3 {
  padding-left: 3rem; }

.pr4 {
  padding-right: 4rem; }

.pl4 {
  padding-left: 6rem; }

.prl4 {
  padding: 0 4rem; }
