html {
  font-size: 62.5%; }

html,
body {
  height: 100%; }

body {
  color: #444;
  background: #e6e6e6;
  font-family: 'Exo 2', sans-serif; }
  body p {
    font-size: 1.6rem;
    line-height: 1.4; }
  body h3 h4 {
    line-height: 1.4; }
  body h4 {
    line-height: 1.5; }

section {
  margin: 0; }

.site-wrapper {
  display: flex; }

.fixed-panel {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  flex: 0 0 20%;
  position: relative;
  overflow: hidden; }
  .fixed-panel__nav {
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    top: 35%;
    justify-content: space-between;
    align-items: center;
    height: 35vh; }
    .fixed-panel__nav .logo {
      position: fixed;
      top: 10vh; }
    .fixed-panel__nav .icons {
      position: fixed;
      bottom: 9rem; }
      .fixed-panel__nav .icons a {
        color: #1a1a1a;
        font-size: 2.4rem; }
        .fixed-panel__nav .icons a:not(last-child) {
          margin-right: 1rem; }
    .fixed-panel__nav .nav-item {
      color: #444;
      font-size: 2.4rem;
      width: 100%;
      position: relative; }
      .fixed-panel__nav .nav-item .active {
        border-bottom: 3px solid orangered;
        transform: scale(1.1);
        transition: .2s ease-in; }
      .fixed-panel__nav .nav-item a {
        top: 0;
        left: 0;
        color: #444;
        transition: .2s ease-out; }
    .fixed-panel__nav .logo {
      max-width: 9%;
      height: auto; }

.content {
  flex: 0 0 80%;
  height: auto; }
  .content .about {
    color: #fff;
    height: 100vh;
    background: url("/img/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden; }
    .content .about__description {
      position: absolute;
      top: 30vh;
      left: 50%; }
      .content .about__description a {
        position: absolute;
        margin-top: 2rem;
        left: 30%; }
    .content .about .purpose {
      margin-top: 10vh;
      font-size: 1.4rem; }
  .content .company {
    position: relative;
    background-color: #e4e4e4;
    height: auto;
    overflow: hidden; }
    .content .company__wrapper {
      display: flex;
      align-items: center;
      flex-flow: row;
      overflow: hidden; }
    .content .company .description {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      padding-left: 2rem;
      flex: 0 0 50%;
      overflow: hidden; }
    .content .company .background {
      height: 59vh;
      flex-basis: 50%; }

.graphs {
  padding: 8rem 0; }

.input-field > label {
  color: #9e9e9e;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.6rem;
  cursor: text;
  transition: transform .2s ease-out, color .2s ease-out;
  transform-origin: 0% 100%;
  text-align: initial;
  transform: translateY(12px); }

input,
textarea {
  font-size: 1.4rem;
  height: 4rem !important; }

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%; } }

@media only screen and (min-width: 601px) {
  html {
    font-size: 62.5%; } }

@media only screen and (max-width: 992px) {
  html {
    font-size: 52%; } }

@media only screen and (min-width: 1201px) {
  html {
    font-size: 70%; } }

.mr2 {
  margin-right: 4rem; }

/* #Canvas Element Circular charts
================================================== */
canvas, video {
  display: inline-block; }

.stats-container {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  padding-bottom: 70px; }

.stats-container li {
  display: inline-block;
  margin: 0 4% 5px;
  position: relative; }

.circular-stat {
  position: relative; }

.circular-stat .digit-label {
  color: #444;
  font-size: 3.2em;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 11.5%;
  width: 75%;
  left: 12.5%;
  padding: 30px 0 0 30px;
  text-shadow: -1px 1px 0px #fff;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.circular-stat .text-label {
  color: #333;
  font-size: 1.5em;
  top: 50%;
  left: 21.875%;
  width: 56.25%;
  padding-top: 6px;
  display: inline-block;
  position: absolute;
  text-align: center;
  border-top: 1px solid #999; }

span.text-title {
  color: #444;
  text-align: center;
  letter-spacing: -1px;
  text-shadow: -1px 1px 0px #FFF;
  padding: 30px 10px 0 0px;
  margin-top: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 99999;
  display: block;
  text-shadow: -1px 1px 0px #fff; }

span.text-dates {
  font-size: 1.5em;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #999;
  text-shadow: -1px 1px 0px #fff; }

@media only screen and (min-width: 1010px) {
  .stats-container li {
    margin: 0 2% 5px; } }

@media only screen and (max-width: 1009px) {
  .stats-container li {
    margin: 0 -.2em 5px; } }
