body {
  color: #444;
  background: white;
  font-family: 'Exo 2', sans-serif; }

.section {
  margin: 0;
  padding: 0; }

.site-wrapper {
  display: flex; }

.fixed-panel {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  flex: 0 0 20%;
  position: relative; }
  .fixed-panel__nav {
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    top: 15%; }
    .fixed-panel__nav .nav-item {
      color: #444;
      font-size: 24px;
      padding: 2rem 0;
      transition: .2s ease-out;
      position: relative; }
      .fixed-panel__nav .nav-item a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; }
        .fixed-panel__nav .nav-item a:hover {
          color: #fff;
          background: linear-gradient(to bottom right, #A6FFCB, #12D8FA, #1FA2FF);
          transform: scale(1.2);
          transform-origin: left; }
    .fixed-panel__nav .logo {
      max-width: 100%;
      margin-bottom: 3rem; }

.nav-item .active {
  background: linear-gradient(to bottom right, #A6FFCB, #12D8FA, #1FA2FF);
  color: #fff; }

.content {
  display: block;
  flex: 0 0 80%;
  height: 100vh; }
  .content__about {
    color: #fff;
    height: 100vh;
    background: #1FA2FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #A6FFCB, #12D8FA, #1FA2FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #A6FFCB, #12D8FA, #1FA2FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .content__about .description {
      position: absolute;
      top: 40vh;
      left: 50%;
      transform: translate(-50%, -50%); }
  .content__project {
    background-color: red;
    height: 100vh; }
