
body {
    color: #444;
    background: #e6e6e6;
    font-family: 'Exo 2', sans-serif;
  }

.section {
  margin: 0;
  padding: 0;
}
  
  .site-wrapper {
    display: flex; 
  }
  
  .fixed-panel {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    flex: 0 0 20%;
    position: relative;

    &__nav {
      position: fixed; 
      display: flex;
      flex-flow: column nowrap;
      top: 15%;

      a {  
        color: #444;
        font-size: 24px;
        padding: 1rem 0;
        
      }

      .gif-case {
        max-width: 100%;
        margin: auto;
        margin-bottom: 3rem;
      }
    }
  }
  
  .content {
    display: block;
    flex: 0 0 80%;
    height: 100vh;
  
    &__about {
      height: 100vh;

    
      .description {
         @include absCenter;
      }

    }
  
    &__project {
      background-color: red;
      height: 100vh;
      
    }
  }
  
  
  